<a href="https://colab.research.google.com/github/ImaneHoum/ML-network/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

from pandas.plotting import scatter_matrix

In [7]:

df1 = pd.read_csv('dataset/Xtrain.csv')
df2 = pd.read_csv('dataset/Ytrain.csv')
#df2.iloc[:, 1].head(n=11)
df = pd.concat([df1, df2.iloc[:, 1]], axis=1)
df.head(n=11)

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091,0.216
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106,0.216
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111,0.227
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108,0.229
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096,0.225
5,2019-01-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.218,0.154,0.106,0.238
6,2019-01-17,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.209,0.140,0.094,0.228
7,2019-01-18,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.207,0.141,0.104,0.217
8,2019-01-21,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.234,0.149,0.111,0.258
9,2019-01-22,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.223,0.151,0.102,0.242
10,2019-01-23,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.225,0.150,0.113,0.244